*{
    scroll-behavior: smooth;
    font-size: 16px;
  }
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #171717; */
}
  /* loader */
  .loader-wrapper{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(217, 93, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
/* ----------- */
.my-banner{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: rgb(3, 7, 43);
    display: grid;
    place-items: center;
    justify-content: center;
}
.img-wrapper{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 20rem;
  width: 20rem;
}
.img-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-page{
  background-image: url(../images/blog-banner-Blog.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
  background-color: rgb(3, 7, 43);
}
.my-nav-section{
  position: relative;
  height: 6em;
  background-color: rgb(3, 7, 43);
  color: white;
  /* border: blue 3px solid; */
}
.my-nav-items{
  position: absolute;
  display: grid;
  place-items: center;
  justify-content: center;
  /* gap: 3em; */
  /* grid-template-columns: repeat(2,1fr); */
  height: 100%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* border: 2px solid red; */
}
.nav-btns{
  padding:0 2em;
}
form{
  width: 100%;
  /* padding: 1em 0em; */
}
input{
  width: 30em;
  height: 2.5em;
  padding: 0.5em;
}
.nav-btns button{
  border: none;
  background-color: transparent;
}
form button{
  border: none;
  text-decoration: none;
  color: black;
  background-color: rgb(239, 191, 33);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.2s ease;
}
button a{
  text-decoration: none;
  color: black;
  background-color: rgb(239, 191, 33);
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav-btns button a:hover{
  background-color: rgb(255, 255, 0);
  box-shadow: 0 0 1em rgb(255, 255, 0);
}
form button:hover{
  background-color: rgb(255, 255, 0);
  box-shadow: 0 0 1em rgb(255, 255, 0);
}
.sec-name{
  width: 100%;
  background-color: rgb(239, 191, 33);
  padding: 0.25em 1em;
  position: sticky;
  top: 0;
  z-index: 999;
}
.sec-name h2{
  text-align: left;
  color: black;
}
.card{
  max-width: 22rem;
  color: #f3f3f3;
  background-color: black;
}
.card img{
  object-fit: cover;
  height: 10rem;
  aspect-ratio: 16/9;
}
.card-body a{
  text-decoration: none;
  color: rgb(255, 230, 0);
}
.blogs-sec{
  background-color:  rgba(29, 33, 67, 0.568);
}
.blogs-page{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  padding: 1em 0em;
  gap:1em 0;
}
.landscape-card img{
width: 20rem;
aspect-ratio: 4/3;  
object-fit: cover;
float: left;
padding: 1em;
}
.landscape-card{
  margin: 1em 1em;
  background-color: black;
}
.landscape-card::after{
  content: "";
  display: table;
  clear: both;
}
.landscape-card .card-body{
  color: white;
}
.blogs-list{
  background-color: rgb(239, 191, 33);
  padding: 0em 0.2em 0.2em 0.2em;
  width: 20rem;
  border-radius: 8px;
}
.blogs-list h2{
  padding: 0.25em 0em;
  text-align: center;
}
.marquee2{
  background-color:black;
  color: white;
  padding:0 1em;
  width: auto;
  height: 100%;
}
footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(29, 33, 67);
  display: grid;
  place-items: center;
  justify-content: center;
  padding: 0;
}
footer p{
  text-align: center;
  color: white;
  /* padding: 0 1em; */
}
.construction-warning{
  position: fixed;
  padding:1em 1em;
  bottom: 0;
  right: 0;
  color: red;
  background-color: black;
  width: max-content;
  z-index: 1000;
}
@media screen and (max-width:915px){
  .blogs-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    padding: 1em 0em;
    gap:1em 0;
  }
  .landscape-card img{
    width: 15rem;
    aspect-ratio: 4/3;  
    object-fit: cover;
    float: left;
    padding: 1em;
    }
}
@media screen and (max-width:625px) {
  input{
    width: 15em;
    height: 2.5em;
    padding: 0.5em;
  }
  .blogs-page{
    grid-template-columns: auto;
    place-items: center;
    justify-content: center;
  }
}
