:root{
    --_Dark-primary: black;
    --_Dark-secondary: #9932cc;
    --_Light-primary:white;
    --_Light-secondary:yellow;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* min-height: 500vh; */
    background-color: var(--_Dark-primary);
    scroll-behavior: smooth;
}
.navbar{
/* box-shadow: 0px 0px 0px 0.5px darkorchid; */
/* -webkit-box-shadow: 0px 0.25px 0px 0px darkorchid;
-moz-box-shadow: 0px 0.25px 0px 0px darkorchid; */
z-index: 2;
}
.main-logo{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-link{
    color: var(--_Light-primary);
}
.navbar .navbar-nav .nav-link:hover{
    background-color: transparent;
    color: var(--_Dark-secondary);
}
.resume-cv{
    border: var(--_Light-primary) 0.125em solid;
    padding: 0.28em 1em;
    border-radius: 90vw;
}
.resume-cv:hover{
    border: var(--_Dark-secondary) 0.125em solid;
}

::-webkit-scrollbar{
    /* background: inherit; */
   
width: 1em;

}
::-webkit-scrollbar-thumb{
    background: var(--_Dark-secondary);
    border-radius: 100vw;
    border: .25em solid hsl(268, 91%, 18%) ;
}
::-webkit-scrollbar-track{
    background: hsl(268, 91%, 18%);
    border-radius: 100vw;
    margin-block: 6em;
    
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(84, 19, 116);
}
.landing-page{
    /* background-color: #8200cb;
background-image: linear-gradient(45deg, #8200cb 0%, rgb(34, 11, 56) 53%); */
    width: 100%;
    /* padding-top: em; */
    height: calc(100vh - 3.5em);
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.intro-name{
    /* font-family: 'Water Brush', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 10px;
    width: 35em;
    height: 25em;
    object-fit: cover;
}
.divider{
    font-family: 'Dancing Script', cursive;
}

.MK-name{
    width: 100%;
    
}
.introduction{
    font-size: 2rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--_Dark-secondary);   
    border: var(--_Dark-secondary) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5),0 0 0.45em var(--_Dark-secondary);
    box-shadow: inset 0 0 0.5em 0 var(--_Dark-secondary), 0 0 0.5em 0 var(--_Dark-secondary);
    position: relative;
}
.introduction::before{
    content: '';
    position: absolute;
    background: var(--_Dark-secondary);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
    pointer-events: none;

}
.introduction:hover{
    background: var(--_Dark-secondary);
    color: var(--_Dark-primary);
    text-shadow: none;
}
.introduction:hover::before{
    opacity: 1;
}
.svg1-wrapper img{
    width: 25rem;
    padding:0 1em;
}
.tagline,
.pun,
.name {
    padding: 0 1em;
    text-align: center;
}
.about-me{

    width: 100%;
    height:70vh;
    background-color: #8a2be2;
background-image: linear-gradient(180deg, #8a2be2 58%, #000000 100%);

    display: flex;
    justify-content: space-evenly;
    place-items: center;
    z-index: 1;
}

.skills{
    width: 100%;
    height:70vh;
    background-color:var(--_Dark-primary);
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.svg2-wrapper img{
    width: 30rem;
}
.skill-card-wrapper{
    --_spacer: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    gap: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 var(--_spacer) var(--_spacer);
}
.skill-card-wrapper div{
    width:max-content;
    aspect-ratio: 9/16;
    background-color: #1d0033;
    color: var(--_Light-primary);
    display: grid;
    gap: var(--_spacer);
    padding: 1em 0.5em 1em 0.5em;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
.snaps-inline > * {
scroll-snap-align: start;
}
.skill-card-wrapper div div p{
    text-align: center;
}
.projects{
    height: 60vh;
    /* padding:0 1em; */
}
.project{
    display: flex;
    width: 100%;
    float: right;
    margin-bottom: 1em;
    padding:2em 1em;
    background-color: var(--_Dark-primary);
background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
transition: all ease 0.3s;
}
.project .project_text{
    height: max-content;
    width: 100%;
    padding:2em 1em;
    background-color: var(--_Dark-primary);
background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
}
.project-2 .project_text{
    height: max-content;
    width: 100%;
    padding:2em 1em;
    background-color: var(--_Dark-primary);
background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);

}
.project-2{
    height: max-content;
    width: 100%;
    display: flex;
    float: right;
    padding:2em 1em;
    margin-bottom: 1em;

background-color: var(--_Dark-primary);
background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
transition: all ease 0.3s;
}
.project-links{
    padding: 0 1em;
    display: flex;
    justify-content:flex-start;
}
.project-links a{
    text-decoration: none;
    color: rgb(229, 176, 255);
    border: rgb(193, 72, 253) 0.125em solid;
    padding: 0.25em 1em;
    margin: 0.25em;
    border-radius: 100vw;
    transition: all ease 0.3s;
}
.project-links a:hover{
    color: white;
    background-color: darkorchid;
    border: darkorchid 0.125em solid;
}
.svg3-wrapper p{
    text-align: center;
}
.svg3-wrapper {
    padding: 5em 0;
}
.project_img{
    width: 40%;
    aspect-ratio: 16/9;
    transition: all ease 0.3s;
}
.project-2 .project_img{
    width: 40%;
    aspect-ratio: 16/9;
    transition: all ease 0.3s;
    object-fit: contain;
}
.projects p{
    color: #d1d1d1;
    padding: 0 1em;
}
.separator{
    text-align: center;
    width: 100%;
}
.connect{
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.connect-wrapper{
    width: 100%;
    display: flex;
    float: right;
    justify-content: space-evenly;
    place-items: center;
}
.contact-form{
    width: 40%;
    margin: 2em 0em;
    padding: 0.5em 0;
    background-color: #000000;
    background-image: linear-gradient(180deg, #570182 0%, #240142 61%);
    

}
.contact-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    gap: 3em;
}
.msg-box{
 height: 180px;
 width: 100%;
 padding: 1em;
}
.contact-name-holder{
    width: 100%;
}
.sub-btn{
    border: 0;
}
.sub-btn:hover{
    background-color: #9932cc;
    color: #ffffff;
    
}
/* --------------------------------------------------------------------- */
.ftr{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    padding: 0 2em;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    background-color: #491371;
background-image: linear-gradient(0deg, #160028 58%, #000000 100%);
    height: 250px;
    padding-top: 2em;
}
.ftr-links{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding-top: 2em;
}
.ftr-links a{
    text-decoration: none;
    color:#e1e1e1;
    margin: 1em;
    padding: .25em 1em;
    border: 2px solid #e1e1e1;
    border-radius: 100vw;
    transition: all ease 0.3s;
}
.ftr-links a:hover{
    color:#ca90ff;
    border: 2px solid #ca90ff;
    border-radius: 100vw;
}
.credit{
    position: absolute;
    bottom: 0;
 }
.credit p{
    color: #ffffff;
    padding-top: 2em;
}
.logo-container p{
    color: #d1d1d1;
    margin: 1em 0em 1em 0.25em;
}
.logo-container .main-logo{
margin: 0 1em;
}
.theme-btn-img{
    width: 30px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}
.theme-btn{
    text-decoration: none;
    color: var(--_Light-primary);
    pointer-events:visible;
}
.theme-btn:hover{
    color: var(--_Dark-secondary);
}
.theme-btn-wrapper{
    background-color: transparent;
    border: none;
    pointer-events: none;
}

@media screen and (max-width:992px){
    .resume-cv{
        border: none;
        padding: 0.28em 1em;
        border-radius: 0vw;
    }
    .resume-cv:hover{
        border: none;
    }
    
}
@media screen and (max-width:973px){
    .landing-page{
        width: 100%;
        padding-top: 0;
        height: calc(100vh - 5em);
        display:grid;
        place-items:center;
    }
    .name{
        text-align: center;
    }
    .tagline{
        padding: 0 1em;
    }
    .pun{
        padding: 0 1em;
    }
    .svg1-wrapper img{
        width: 15rem;
    }

    .connect-wrapper{
        flex-direction: column;
        margin-top: 2em;
    }
    .contact-element{
        margin: 2em 0em;
    }
    .contact-form{
        background-color: #b7b7b7;
        width: 90%;
    }
    .contact-options{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(2,1fr); */
        gap: 3em;
    }

 .ftr{
     position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    padding: 2em 0;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    background-color: #491371;
background-image: linear-gradient(0deg, #160028 58%, #000000 100%);
    height: 300px;
 } 
 .credit{
    position: absolute;
    bottom: 0;
 }
 .abtme-text{
     padding-bottom: 0.5em;
 }
 .skills{
    width: 100%;
    height:40vh;
    margin-bottom: 1em;
    background-color:#000000;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-evenly;
    place-items: center;
}
.skill-card-wrapper{
    gap: 1em;
}
.skill-card-wrapper div{
    gap: 0;
}
.svg2-wrapper img{
    width: 20rem;
}
.about-me{
    width: 100%;
    height:70vh;
    background-color: #8a2be2;
background-image: linear-gradient(180deg, #8a2be2 58%, #000000 100%);

    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-evenly;
    place-items: center;
    z-index: 1;
}
}
@media screen and (max-width:799px){
    .skill-card-wrapper{
        gap: 5em;
    }
    .project{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        
        margin-bottom: 1em;
        padding:1em 1em;
        place-items: center;
        background-color: #000000;
        background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project_text{
        height: max-content;
        padding:2em 1em;
        background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project-2 .project_text{
        background-color: #000000;
    background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
    }
    .project-2{
        height: max-content;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        place-items: center;
        float: right;
        padding:1em 1em;
        margin-bottom: 1em;
    
    background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project_img{
        width: 100%;
        order: -1;
        aspect-ratio: 4/3;
        object-fit: fill;
    }
    .project-2 .project_img{
        width: 100%;
        height: -webkit-fill-available;
        aspect-ratio: 16/9;
        transition: all ease 0.3s;
        object-fit: contain;
    }
}
@media screen and (max-width:555px){
    .skill-card-wrapper{
        gap: 6em;
    }
}
@media screen and (max-width:490px){
    .skill-card-wrapper{
        gap: 8em;
    }
}
