  /* loader */
  .loader-wrapper{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(217, 93, 255);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
/* ----------- */
:root{
    --_Color-primary: black;
    --_Detail-primary:white;
    --_Color-secondary: #9932cc;
    --_Glow-text: 0 0 0.125em hsl(0 0% 100% / 0.5),0 0 0.45em var(--_Color-secondary);
    --_Scrollbar-margin:6em;
    --_Glow-buttonClr:var(--_Color-secondary);
    --_Glow-buttonShadow:inset 0 0 0.5em 0 var(--_Color-secondary), 0 0 0.5em 0 var(--_Color-secondary);
    --_Skill-color:#1d0033;
    --_Scrollbar-color: hsl(268, 91%, 18%);
    --Toggler-color: transparent;
}
.theme-text{
    color: white;
}
.light-theme{
    --_Color-primary: rgb(255, 255, 255);
    --_Detail-primary:rgb(0, 0, 0);
    --_Scrollbar-margin:0;
    --_Glow-button: var(--_Color-secondary);
    --_Glow-text:none;
    --_Glow-buttonClr:var(--_Color-primary);
    --_Glow-buttonShadow:none;
    --_Skill-color: rgb(82, 17, 114);
    --_Scrollbar-color: white;
    --Toggler-color:black;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: var(--_Color-primary);
    scroll-behavior: smooth;
}
.navbar{
z-index: 2;
}
.main-logo{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.navbar-toggler{
    background-color: var(--Toggler-color);
}
.navbar .navbar-nav .nav-link{
    color: var(--_Detail-primary);
}
.navbar .navbar-nav .nav-link:hover{
    background-color: transparent;
    color: var(--_Color-secondary);
}
.resume-cv{
    border: var(--_Detail-primary) 0.125em solid;
    padding: 0.28em 1em;
    border-radius: 90vw;
}
.resume-cv:hover{
    border: var(--_Color-secondary) 0.125em solid;
}
#theme-icon{
    cursor: pointer;
    padding: 0.25em 1em;
}
::-webkit-scrollbar{
width: 1em;

}
::-webkit-scrollbar-thumb{
    background: var(--_Color-secondary);
    border-radius: 100vw;
    border: .25em solid hsl(268, 91%, 18%) ;
}
::-webkit-scrollbar-track{
    background: var(--_Scrollbar-color);
    border-radius: 100vw;
    margin-block: var(--_Scrollbar-margin);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(84, 19, 116);
}
.landing-page{
    width: 100%;
    height: calc(100vh - 3.5em);
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.intro-name{
    font-family: 'Dancing Script', cursive;
    font-size: 10px;
    width: 35em;
    height: 25em;
    object-fit: cover;
}
.divider{
    font-family: 'Dancing Script', cursive;
}
.MK-name{
    width: 100%;
}
.introduction{
    font-size: 2rem;
    background: var(--_Glow-button);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--_Glow-buttonClr);   
    border: var(--_Color-secondary) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: var(--_Glow-text);
    box-shadow: var(--_Glow-buttonShadow);
    position: relative;
}
.introduction::before{
    content: '';
    position: absolute;
    background: var(--_Color-secondary);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
    pointer-events: none;
}
.introduction:hover{
    background: var(--_Color-secondary);
    color: white;
    text-shadow: none;
    box-shadow: inset 0 0 0.5em 0 var(--_Color-secondary), 0 0 0.5em 0 var(--_Color-secondary);
}
.introduction:hover::before{
    opacity: 1;
}
.svg1-wrapper img{
    width: 25rem;
    padding:0 1em;
}
.tagline,
.pun,
.name {
    padding: 0 1em;
    text-align: center;
}
.tagline em{
    padding: 0;
    color: darkorchid;
}
.about-me{

    width: 100%;
    height:70vh;
    background-color: #8a2be2;
background-image: linear-gradient(180deg, #8a2be2 58%, #000000 100%);

    display: flex;
    justify-content: space-evenly;
    place-items: center;
    z-index: 1;
}
.skills{
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}
.svg2-wrapper img{
    width: 30rem;
}

.skill-card-wrapper{
    --_spacer: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    gap: var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding:var(--_spacer) var(--_spacer);
}
.skill-card-wrapper div{
    width:max-content;
    aspect-ratio: 9/16;
    background-color:var(--_Skill-color);
    color: white;
    display: grid;
    gap: var(--_spacer);
    padding: 1em 0.5em 1em 0.5em;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
.snaps-inline > * {
scroll-snap-align: start;
}
.skill-card-wrapper div div p{
    text-align: center;
}
.projects{
    height: 60vh;
}
.project{
    display: flex;
    width: 100%;
    float: right;
    margin-bottom: 1em;
    padding:2em 1em;
    background-color: var(--_Color-primary);
background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
transition: all ease 0.3s;
}
.project .project_text{
    height: max-content;
    width: 100%;
    padding:2em 1em;
    background-color: var(--_Color-primary);
background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
}
.project-2 .project_text{
    height: max-content;
    width: 100%;
    padding:2em 1em;
    background-color: var(--_Color-primary);
background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
}
.project-2{
    height: max-content;
    width: 100%;
    display: flex;
    float: right;
    padding:2em 1em;
    margin-bottom: 1em;
background-color: var(--_Color-primary);
background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
transition: all ease 0.3s;
}
.project-links{
    padding: 0 1em;
    display: flex;
    justify-content:flex-start;
}
.project-links a{
    text-decoration: none;
    color: rgb(229, 176, 255);
    border: rgb(193, 72, 253) 0.125em solid;
    padding: 0.25em 1em;
    margin: 0.25em;
    border-radius: 100vw;
    transition: all ease 0.3s;
}
.project-links a:hover{
    color: white;
    background-color: darkorchid;
    border: darkorchid 0.125em solid;
}
.svg3-wrapper p{
    text-align: center;
}
.svg3-wrapper {
    padding: 5em 0;
}
.project_img{
    width: 40%;
    aspect-ratio: 16/9;
    transition: all ease 0.3s;
}
.project-2 .project_img{
    width: 40%;
    aspect-ratio: 16/9;
    transition: all ease 0.3s;
    object-fit: contain;
}
.projects p{
    padding: 0 1em;
}
.separator{
    text-align: center;
    width: 100%;
}
.connect{
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
   

}
.connect-wrapper{
    width: 100%;
    display: flex;
    float: right;
    justify-content: space-evenly;
    place-items: center;
}
.contact-form{
    width: 40%;
    margin: 2em 0em;
    padding: 0.5em 0;
    background-color: #000000;
    background-image: linear-gradient(180deg, #570182 0%, #240142 61%);
    

}
.contact-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3em;
}
.msg-box{
 height: 180px;
 width: 100%;
 padding: 1em;
}
.contact-name-holder{
    width: 100%;
}
.honeypot{
    display: none;
}
.sub-btn{
    border: 0;
}
.sub-btn:hover{
    background-color: #9932cc;
    color: #ffffff;
}
/* --------------------------------------------------------------------- */
.ftr{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    padding: 0 2em;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    background-color: #491371;
background-image: linear-gradient(0deg, #160028 58%, #000000 100%);
    height: 250px;
    padding-top: 2em;
}
.ftr-links{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding-top: 2em;
}
.ftr-links a{
    text-decoration: none;
    color:white;
    margin: 1em;
    padding: .25em 1em;
    border: 2px solid white;
    border-radius: 100vw;
    transition: all ease 0.3s;
}
.ftr-links a:hover{
    color:#ca90ff;
    border: 2px solid #ca90ff;
    border-radius: 100vw;
}
.credit{
    position: absolute;
    bottom: 0;
 }
.credit p{
    color: white;
    padding-top: 2em;
}
.logo-container p{
    color: #d1d1d1;
    margin: 1em 0em 1em 0.25em;
}
.logo-container .main-logo{
margin: 0 1em;
}
@media screen and (max-height:565px) and (max-width:973px){
    .landing-page{
        margin-bottom: 19em;
    }
    .about-me{
        margin-bottom: 8em;
        padding: 2em 0em;
        height: 200%;
    }
    .skill-card-wrapper{
        margin-top: 15%;
    }
}
@media screen and (max-width:992px){
.resume-cv{
    border: none;
    padding: 0.28em 1em;
    border-radius: 0vw;
}
.resume-cv:hover{
    border: none;
}
}
@media screen and (max-width:973px){
    .navbar .navbar-nav .nav-link{
        color: white;
    }
    .landing-page{
        width: 100%;
        padding-top: 0;
        height: calc(100vh - 5em);
        display:grid;
        place-items:center;
    }
    .name{
        text-align: center;
    }
    .tagline{
        padding: 0 1em;
    }
    .pun{
        padding: 0 1em;
    }
    .svg1-wrapper img{
        width: 15rem;
    }
    .connect-wrapper{
        flex-direction: column;
        margin-top: 2em;
    }
    .contact-element{
        margin: 2em 0em;
    }
    .contact-form{
        background-color: #b7b7b7;
        width: 90%;
    }
    .contact-options{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3em;
    }
 .ftr{
     position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    padding: 2em 0;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    background-color: #491371;
background-image: linear-gradient(0deg, #160028 58%, #000000 100%);
    height: 300px;
 } 
 .credit{
    position: absolute;
    bottom: 0;
 }
 .abtme-text{
     padding-bottom: 0.5em;
 }
 .skills{
    width: 100%;
    height:40vh;
    margin-bottom: 1em;
    background-color:var(--_Color-primary);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-evenly;
    place-items: center;
}
.skill-card-wrapper{
    gap: 1em;
}
.skill-card-wrapper div{
    gap: 0;
}
.svg2-wrapper img{
    width: 20rem;
}
.about-me{
    width: 100%;
    background-color: #8a2be2;
background-image: linear-gradient(180deg, #8a2be2 58%, #000000 100%);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-evenly;
    place-items: center;
    z-index: 1;
}
}
@media screen and (max-width:799px){
    .skill-card-wrapper{
        gap: 5em;
    }
    .project{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        margin-bottom: 1em;
        padding:1em 1em;
        place-items: center;
        background-color: #000000;
        background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project_text{
        height: max-content;
        padding:2em 1em;
        background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project-2 .project_text{
        background-color: #000000;
    background-image: linear-gradient(225deg, #4f007d 0%, #000000 100%);
    }
    .project-2{
        height: max-content;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        place-items: center;
        float: right;
        padding:1em 1em;
        margin-bottom: 1em;
    background-color: #000000;
    background-image: linear-gradient(225deg, #000000 0%, #4f007d 100%);
    }
    .project_img{
        width: 100%;
        order: -1;
        aspect-ratio: 4/3;
        object-fit: fill;
    }
    .project-2 .project_img{
        width: 100%;
        height: -webkit-fill-available;
        aspect-ratio: 16/9;
        transition: all ease 0.3s;
        object-fit: contain;
    }
}
@media screen and (max-width:555px){
    .skill-card-wrapper{
        gap: 6em;
    }
}
@media screen and (max-width:490px){
    .skill-card-wrapper{
        gap: 8em;
    }
}
